.buttonStyling {
  height: 30px;
  width: 100px;
  background-color: rgb(255, 187, 0);
  color: black;
  border-radius: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.badge{
 
    color: white;
    font-weight: 400;
    position: absolute;
    font-size: 15px;
    padding: 5px ,25px;
    top: 0;
    left: 0;
    border-top-right-radius: 50px;
    border-top-left-radius: 5px;
    display: inline-block;
    background-color: red !important;
  }
