.productsCategory{
    /* border: 2px solid  blue; */
    display: flex;
    flex-direction: row;
    gap:15px;
    justify-content: space-evenly;
}
.singleProduct{
    border:2px solid black;
    padding: 10px;
    font-size: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
}