.CardLayout{
  border: 1px solid rgb(241, 237, 237);
  /* position: "absolute"; */
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  overscroll-behavior-x: hide;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
}
.container1{
  /* border: 2px solid black; */
  justify-content: center;
  align-items: center;
  display: 'flex';
  gap: 10px;

}
.card-list1{
  display: flex;
  gap: 10px;
}
