.formikRow{
    /* border: 2px solid black; */
    width: 100%;
    display:flex;
    flex-direction: column;
    padding-top: 10px;
    align-items: center;
    justify-content: flex-start;
}

.formikForm{
    /* border: 2px solid rgb(255, 8, 0); */
    /* height: auto; */
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    /* justify-content:flex-start; */
   
  
   
}
.inputFeild{
    /* border:2px solid orange; */
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: flex-start; */
    gap: 10px;
    font-size: 15px;
    padding: 10px;
    color: black;
}
input{
    width:400px;
    padding: 10px;
    border-radius: 10px;
    left: 0%;
    right: 0%;
    margin: 0%;
     border-color: transparent;
    
}
.submitBtn{
    background-color:  #a99605;
    border: none;
    padding: 10px;
    width: 100px;
    margin-right: 100px;
    border-radius: 10px;
    color: white;
    font-weight: 200;
    font-size: 18px;
}
.formikCol{
    /* border: 2px solid black; */
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;

}
label{
    font-size: 17px;
    left: 0px;
    /* border: 2px solid green; */
    right: 0;
}
