.container-main {
  /* border: 2px solid black; */
  height: 100vh;
  width: 100%;
}
.leftSide {
  /* border: 2px solid blue; */
}
.rightSide {
 
  background-color:  #ecdb5f;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.loginBox {
  /* border: 2px solid black; */
  width: 400px;
  height: 400px;
  padding: 20px;
}
.submitbutton {
  background-color:  #a99605;
}
.btnParent{
    display: flex;
    flex-direction:row;
    /* border: 2px solid black; */
    padding: 5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
