.header {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  /* height: 80px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* border:2px solid black; */
  background-color: #f47458;
}
.main {
  /* border: 2px solid black; */

  height: 100vh;
}
.headerlogo {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 0%;
  color: white;
}
.headerLinks {
  /* border :2px solid blue; */
  color: white;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  width: 500px;
}
