.header {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  /* height: 80px; */
  display: flex;
  /* padding: 10px; */
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #ecdb5f;
}
/* .main {
  height: 100vh;
} */
.headerlogo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 0%;
  /* color: white; */
  color: rgb(51, 45, 45);
}
.headerLinks {
  /* border :2px solid blue; */
  color: white;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  /* width: 500px; */
}
.itemAmountmain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: red;
  width: 20px;
  height: 22px;
  position:absolute;
  right:34px;
  top:30px;
  border-radius: 50px;
  text-align: center;
  padding-bottom: 2px;
  

 
}
