.carousel {

  height: 100%;
  width: 100%;
 
}
.carousalImages {
  /* border: 2px solid black; */
  height: 100%;
  width: 100%;

  color: black;
}
.carousalDiv {

  height: 380px;
  width: auto;
  color: black;
}
.dots {
  color: black;
}
